footer {
  padding-top: 90px;
  padding-bottom: 120px;
  background-color: #1ea78d;
  border-top: 5px solid #062033;

  @include breakpoint-custom-max(767px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .footer__content {
    color: $white-text;
    @include flex();
    flex-flow: row wrap;

    @include breakpoint-custom-max(1024px) {
    }

    @include breakpoint-custom-max(767px) {
      flex-direction: column;
      justify-content: center;
    }

    .footer__info,
    .footer__subscribe,
    .footer__explore {
      width: 26%;

      @include breakpoint-custom-max(1024px) {
        width: 33.3333%;
      }

      @include breakpoint-custom-max(767px) {
        width: 100%;
      }
    }

    .footer__info {
      padding-right: 32px;

      @include breakpoint-custom-max(767px) {
        padding-right: 0;
      }

      h2 {
        font-family: Pacifico;
        @include font-size(28px);
        height: 35px;
      }

      p {
        margin-top: 35px;
        @include font-size(13px);
        line-height: 25px;

        @include breakpoint-custom-max(767px) {
          margin-top: 0;
        }
      }
    }

    .footer__subscribe {
      padding-right: 30px;

      @include breakpoint-custom-max(767px) {
        padding-right: 0;
        margin-top: 20px;
      }

      h5 {
        font-size: 14px;
        height: 35px;
        padding-top: 14px;

        @include breakpoint-custom-max(767px) {
          padding-top: 0;
        }
      }

      &-input {
        margin-top: 45px;
        position: relative;
        width: 100%;

        @include breakpoint-custom-max(767px) {
          margin-top: 0;
        }

        input {
          outline: none;
          border: 2px solid #fff;
          background-color: transparent;
          caret-color: #fff;
          width: 100%;
          padding: 9px;
          color: #fff;
        }

        button {
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          position: absolute;
          top: 50%;
          right: 4%;
          transform: translateY(-50%);
        }
      }

      p {
        @include font-size(13px);
        margin-top: 20px;
        line-height: 25px;

        @include breakpoint-custom-max(767px) {
          margin-top: 5px;
        }
      }
    }

    .footer__explore {
      @include breakpoint-custom-max(767px) {
        margin-top: 20px;
      }

      h5 {
        font-size: 14px;
        height: 35px;
        padding-top: 14px;

        @include breakpoint-custom-max(767px) {
          padding-top: 0;
        }
      }

      ul {
        margin-top: 30px;
        @include flex();
        flex-flow: row wrap;

        @include breakpoint-custom-max(767px) {
          margin-top: -10px;
        }

        li {
          width: 50%;

          a {
            @include font-size(13px);
            line-height: 34px;

            &:hover {
              opacity: 0.8;
            }

            @include breakpoint-custom-max(767px) {
              line-height: 30px;
            }
          }
        }
      }
    }

    .footer__created {
      padding-right: 20px;
      flex: 1;

      @include breakpoint-custom-max(1024px) {
        width: 33.33%;
        flex: unset;
        padding-right: 32px;
      }

      @include breakpoint-custom-max(767px) {
        padding-right: 0;
        width: 100%;
        text-align: center;
      }

      p {
        margin-top: 65px;
        @include font-size(13px);
        line-height: 34px;

        @include breakpoint-custom-max(1024px) {
          margin-top: 25px;
        }

        @include breakpoint-custom-max(767px) {
          margin-top: 30px;
          line-height: 24px;
        }

        img {
          padding: 0 4px;
        }

        span {
          color: #062033;
        }
      }

      & > p:last-child {
        margin-top: 34px;
        color: #062033;

        @include breakpoint-custom-max(1024px) {
          margin-top: 10px;
        }

        @include breakpoint-custom-max(767px) {
          margin-top: 0;
        }
      }
    }
  }
}
