.features {
  background-color: #f4f7f9;

  .common-section {
    padding-top: 70px;
    padding-bottom: 140px;
    transition: all 0.3s linear;

    @include breakpoint-custom-max(767px) {
      padding-top: 50px;
      padding-bottom: 110px;
    }

    h2::before {
      background-color: #f4f7f9;
    }
  }

  &__content {
    @include flex();
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 20px;

    .features__item:nth-child(1) {
      @include breakpoint-custom-max(767px) {
        margin: 0;
      }
    }

    .features__item {
      @include flex();
      width: 33.3333%;
      padding: 0 14px;
      margin-top: 25px;

      @include breakpoint-custom-max(1023px) {
        width: 50%;
      }

      @include breakpoint-custom-max(767px) {
        width: 100%;
      }

      .features__item-img {
        height: 40px;
      }

      .features__item-content {
        padding: 0 0 0 14px;

        h4 {
          color: #162e40;
          @include font-size(20px);
          font-weight: 600;
        }

        p {
          margin-top: 18px;
          @include font-size(13px);
          color: #062033;

          @include breakpoint-custom-max(767px) {
            font-size: 12px;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .slick-dots {
    top: calc(100% + 60px);

    @include breakpoint-custom-max(767px) {
      top: calc(100% + 45px);
    }
  }
}
